<h2>Francesco Garosi (AlmostEarthling)</h2>
<p>Welcome to my personal page on GitHub.io: this page is an entry point for
    more specific project pages hosted on GitHub as well.</p>

<h2>Projects</h2>
<ul>
  <li>The <a href="http://almostearthling.github.io/when-command/">When</a> Scheduler</li>
  <li>The <a href="https://github.com/almostearthling/pyclips">PyCLIPS</a> Python Library</li>
</ul>

<p>Please refer to the specific project pages for more information.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/almostearthling/">Find me on GitHub</a>
  </li>
</ul>

<small>
    Theme based on <a href="https://github.com/excentris/compass">Compass</a> by excentris.
</small>
